

.DS_Store
target
out
logs
build
node_modules
.gradle
.lock
.settings
.classpath
.project
.idea
.externalNativeBuild


robots.txt
package-lock.json
yarn.lock
local.properties

*.abb
*.apk
*.class
*.war
*.log
*.iml

unpackage
_tmp
